In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r'email.csv')

In [3]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
data.columns

Index(['Category', 'Message'], dtype='object')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [6]:
data.isna().sum()

Category    0
Message     0
dtype: int64

In [7]:
data["Spam"]=data["Category"].apply(lambda x:1 if x=='spam' else 0)

In [8]:
data.head()

  Category                                            Message  Spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(data.Message,data.Spam,test_size=0.25)

In [14]:
from sklearn.naive_bayes import MultinomialNB

In [18]:
from sklearn.pipeline import Pipeline

In [20]:
from sklearn.feature_extraction.text import CountVectorizer

In [21]:
clf=Pipeline([
    ("vectorizer",CountVectorizer()),
    ("nb",MultinomialNB())
])

In [22]:
clf.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [24]:
emails=['hello this is email 1','hello this is email 2']

In [25]:
clf.predict(emails)

array([0, 0], dtype=int64)

In [26]:
clf.score(x_test,y_test)

0.9870782483847811